#workhours_container
{
	margin-bottom: 3px;
}

#workhours_container .plan_num
{
  padding-right: 5px;
  padding-left: 5px;
}

#workhours_container .edit_num
{
    width: 40px;
}

#workhours_container .hours_txt_label
{
	width: 80px;
	text-align: right;
}

#workhours_container #hours_txt_label_left
{
	/*padding-left: 28px;*/
}

#barchart .progress
{
	margin-bottom: 3px; 
	width: 85%;
  	display: inline-flex;
}

#barchart .progress .bar
{
	display: inline-flex;
}

#barchart .percent_num
{
	display: inline;
	font-weight: bold;
}

#dashboard_workhours_info_area
{
	width: 360px; 
	position: absolute; 
	left: 785.45px; 
	height: 40px;
}

.dashboard_todo_plan_hours_bar
{
	background-color: #808080;
	position: relative;
	top: -5px;
	height: 3px;
	z-index: 100;
	left: 5px;
}
