<div class="line"></div>
<h2 class="side_board"><?=__('PL_WORK_HOURS_TITLE')?> <span id="right_title"></span>
</h2>

<div id="workhours_container">
  <div id='text_plan' ><?=__('PL_WORK_HOURS_PLAN_HOURS')?>: 
    <a class="plan_num" href="javascript:update_plan_hours();void(0);" id="update_plan_hours"><?=$plan_hours?></a>
  </div>
  <div id='text_left' ><?=__('PL_WORK_HOURS_LEFT_HOURS')?>:
    <a class="plan_num" href="javascript:update_left_hours();void(0);" id="update_left_hours"><?=$left_hours?></a>
  </div>
  <div id='barchart'>
    sss
  </div>
</div>

<?php if( $data['owner_uid'] == uid() && intval($data['details']['status']) != 3 ): ?>

<script type="text/javascript">
  var can_edit_work_hours = true;
</script>
<?php endif; ?>

<div class="line"></div>


